body{
    background-color: #48e;
    font-family: sans-serif;
}
#btn-name, #btn-age, #btn-dik {
    font-size: 20px;
    padding: 15px, 10px;
    margin: 30px;
}

.get-name, .get-age, .get-dik {
    color: rgb(238, 0, 0);
    font-size: 20px;
    display:inline-block;
}